/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: #FFFEF8;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header{
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

.editHeader{
	display: flex;
	flex-direction: column;
	margin-top: 0;
}
.elementNewHeader{
	display: flex;
	justify-content: space-between;
	margin: 2.38rem 0 5.75rem 0 ;
}
.editModeHeader{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	color: white;
	width: 100%;
	height: 3.6875rem;
	gap: 0.76rem;
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	margin-left: 9.81rem;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
header nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin-right: 9.81rem;

}
nav li {
	display: flex;
	width: 3.4375rem;
	height: 1.1875rem;
	padding: 0rem 0.5625rem 0rem 0.5rem;
	justify-content: center;
	align-items: center;
}
nav a{
	color: #000;
	font-family: "Work Sans";
	font-size: 1rem;
	line-height: normal;
	text-decoration: none;
}
nav img{
	width: 1.375rem;
	height: 1.375rem;
}
nav a:hover {
	font-weight: bold;
}

main{
	max-width: 1140px;
	margin: 0 15.31rem;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}
#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin-bottom: 1em;
}
#portfolio h2 span button{
	all: unset;
	display: flex;
	align-items: center;
	color: #000;
	font-family: "Work Sans";
	margin-left: 1.94rem;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
#portfolio h2 img{
	height: 0.97375rem;
	padding-right: 0.65rem;
}
.btn-filtres{
	display: flex;
	justify-content: center;
	gap: 0.62rem;
	padding-bottom: 30px;
	padding-top: 3.19rem;
}
.btn-filtres label{
	border: 1px solid #1D6154;
	border-radius: 3.75rem;	
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 1rem;
	height: 2.3125rem;
}
.btn-filtres input[type="radio"]{
    display: none;
}
.btn-filtres input[type="radio"]:hover + label,
.btn-filtres input[type="radio"]:checked + label{
    color: white;
	background-color: #1D6154;
}
#filtres-tous + label{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.25rem;
}
#filtres-1 + label{
	width: 6.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#filtres-2 + label{
	width: 9.8125rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#filtres-3 + label{
	width: 12.375rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
#suppFiltres{
	display: none;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 100%;

}
#contact, #login{
	width: 50%;
margin: auto;
}
#contact > *,
#login > *{
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form,
#login form{
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	cursor: pointer;
}
#contact label{
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
#login a{
	text-align: center;
	color: black;
}
footer{
	background-color: white;
	display: flex;
	justify-content: end;
}
footer nav ul{
	margin-right: 6.64rem;
	height: 3.75rem;
	flex-shrink: 0;	
	color: #000;
	font-family: "Work Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}
footer nav ul li{
	margin: 2em;
	width: 100%;
}
 /******Modale******/
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.30);
}
.modale1Contain, 
.modaleAjoutContain{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 39.375rem;
	height: 43rem;
	border-radius: 0.625rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modaleHeader{
	width: 100%;
	display: flex;
	justify-content: end;	
}
.divIconRetourClose{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.modaleClose ,.modaleRetour{
	all: unset;
	padding-right: 1.88rem;
	padding-top: 1.62rem;
	padding-left: 1.88rem;
}
.modaleRetour{
	width: 1.3125rem;
	height: 1.3125rem;
	cursor: pointer;
}
.modaleClose img{
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}
.modale1Contain h3, 
.modaleAjoutContain h3{
	color: #000;
	text-align: center;
	font-family: "Work Sans";
	font-size: 1.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
/**Ligne sepa sur les deux modales**/
.ligneSepaModale{
	width: 26.25rem;
	height: 0.0625rem;
	background: #B3B3B3;
	margin: 2.38rem 0;
}
.modaleBtnAjout{
	all: unset;
	width: 14.8125rem;
	height: 2.25rem;
	border-radius: 3.75rem;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}
.modaleGalerie{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	gap: 0.47rem;
	padding: 2.88rem 5rem 4.21rem 6.58rem;
	overflow-y: auto;
	max-width: 100%;
	max-height: 300px;
	position: relative;

}
.imgGalerie{
	position: relative;
	z-index: 1;
	width: 5rem;
	height: 6.58375rem;
}
.btnTrash{
	position: absolute;
	z-index: 2;
	margin-left: 3.44rem;
	margin-top: 0.38rem;
	width: 1.0625rem;
	height: 1.0625rem;
	cursor: pointer;
}
.iconBackgrndTrash{
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 1.0625rem;
	height: 1.0625rem;
}
.iconTrash{
	position: absolute;
	z-index: 4;
	transform: translate(-50%,-50%);
	width: 0.5625rem;
	height: 0.6875rem;
}
#formAjoutFichier{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.divAjoutFichier{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 26.25rem;
	height: 10.5625rem;
	border-radius: 0.1875rem;
	background: #E8F1F6;
	margin-top: 2.25rem;
	margin-bottom: 0.57rem;
}
.ajoutFichierLabel{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10.8125rem;
	height: 2.25rem;
	border-radius: 3.125rem;
	background: #CBD6DC;
	color: #306685;
	text-align: center;
	font-family: "Work Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	cursor: pointer;
}
#ajoutFichierInput{
	display: none;
}
.divAjoutFichier img{
	margin-top: 0.81rem;
	margin-bottom: 0.38rem;
	width: 4.75rem;
	height: 4.75rem;
}
.divAjoutFichier p{
	margin-top: 0.44rem;
	color: #444;
	text-align: center;
	font-family: "Work Sans";
	font-size: 0.625rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.divAjoutFichierInfos{
	display: flex;
	flex-direction: column;
}
.divAjoutFichierInfos label{
	margin-top: 1.31rem;
	margin-bottom: 0.62rem;
	color: #3D3D3D;
	font-family: "Work Sans";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.divAjoutFichierInfos input, 
.divAjoutFichierInfos select{
	border: none;
	width: 26.25rem;
	height: 3.1875rem;
	background: #FFF;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}
.ligneSepaModale2{
	margin-top: 2.94rem;
	margin-bottom: 2rem;
	width: 26.25rem;
	height: 0.0625rem;
	background: #B3B3B3;
}

.btnValiderForm{
	all: unset;
	border-radius: 3.75rem;
	background: #A7A7A7;
	width: 14.8125rem;
	height: 2.25rem;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.btnValiderFormActive{
	all: unset;
	border-radius: 3.75rem;
	background: #1D6154;
	width: 14.8125rem;
	height: 2.25rem;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}
#imgAjoutee{
	height: 100%;
	width: auto;
	margin: 0;
}
.alertFormatFichier,
.alertValidationFichier{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30rem;
	height: 5rem;
	border-radius: 0.625rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.alertFormatFichier button,
.alertValidationFichier button{
	all: unset;
	border-radius: 3.75rem;
	background: #A7A7A7;
	width: 14.8125rem;
	height: 2.25rem;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}
.alertFormatFichier p{
	display: flex;
	align-items: center;
	height: 50%;
	color: red;
	text-align: center;
	font-family: "Work Sans";
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.alertValidationFichier p{
	display: flex;
	align-items: center;
	height: 50%;
	color: green;
	text-align: center;
	font-family: "Work Sans";
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}